.main-money-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  padding: 30px;
}
.container {
  width: 100%;
}
.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}
.name-heading {
  color: #475569;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 23px;
}
.welcome-text {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
}
.welcome-span {
  color: #0b69ff;
  font-weight: 600;
}
.input-and-history-container {
  display: flex;
  flex-direction: column;
}
.transaction-input-container {
  border-radius: 20px;
  border: 1px solid #cbd5e1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.add-transaction-heading {
  font-size: 20px;
  margin-top: 0px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #475569;
}
.transaction-form {
  display: flex;
  flex-direction: column;
}
.label-text {
  color: #7e858e;
  margin-bottom: 5px;
  font-size: 13px;
  font-family: 'Roboto';
}
.input-text {
  color: #475569;
  padding: 6px;
  border: 1px solid #cbd5e1;
  margin-bottom: 5px;
  border-radius: 3px;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto';
}
.add-button {
  background-color: #0b69ff;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  align-self: flex-start;
  outline: none;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
}
.history-unordered-list {
  padding-left: 0px;
}
.history-list-item {
  list-style-type: none;
  border: 1px solid #cbd5e1;
  border-radius: 2px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}
.transaction-text-styles {
  color: #1e293b;
  font-weight: 500;
  padding-right: 45px;
  font-family: 'Roboto';
}

@media screen and (min-width: 525px) {
  .transaction-text-styles {
    padding-right: 78px;
  }
}
@media screen and (min-width: 768px) {
  .main-money-container {
    padding: 65px;
  }
  .container {
    width: 90%;
  }
  .profile-container {
    text-align: left;
  }
  .name-heading {
    font-size: 28px;
  }
  .welcome-text {
    font-size: 18px;
  }
  .account-details-container {
    margin-bottom: 0px;
  }
  .input-and-history-container {
    flex-direction: row;
  }
  .transaction-input-container {
    width: 35vw;
    margin-right: 25px;
    border-radius: 12px;
    margin-bottom: 0px;
  }
  .transaction-history-container {
    width: 50vw;
    margin-right: 0px;
  }
  .transaction-text-styles {
    padding-right: 58px;
  }
}
